In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and find the min and max age
ages.sort()
maxAge=ages[-1]
minAge=ages[0]
print("minimum age:",minAge)
print("maximum age:",maxAge)
#Add the min age and the max age again to the list
ages.append(maxAge)    #use append method to add
ages.append(minAge)
#Find the median age (one middle item or two middle items divided by two)
ages.sort()
length=len(ages)
if length%2==0:
    median=(ages[length//2]+ages[(length//2)-1])/2
else:
    median=ages[length//2]
print("median of ages is",median)
#Find the average age (sum of all items divided by their number)
average=sum(ages)/len(ages)
print("average of ages is",average)
#Find the range of the ages (max minus min)
range=max(ages)-min(ages)
print("range of ages is",range)

minimum age: 19
maximum age: 26
median of ages is 24.0
average of ages is 22.75
range of ages is 7

In [3]:
#Create an empty dictionary called dog
dog={}
#Add name, color, breed, legs, age to the dog dictionary
dog.update({"name":"Denzo","color":"White","breed":"Labrador","legs":4,"age":7})
print("Dog dictionary is",dog)
#Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary
student_dict={"first_name":"Akhilesh Reddy","last_name":"Erravally","gender":"Male","age":22,"marital status":"Single",
              "skills":["Python"],"country":"India","city":"Hyderabad","address":"Badangpet"}
print("Student dictionary is",student_dict)
#Get the length of the student dictionary
print("Length of the student dictionary is",len(student_dict))
#Get the value of skills and check the data type, it should be a list
print(type(student_dict["skills"]))
#Modify the skills values by adding one or two skills
student_dict["skills"].append("Machine learning")
#Get the dictionary keys as a list
print("Dictionary keys are:",student_dict.keys())
#Get the dictionary values as a list
print("Dictionary values are:",student_dict.values())

Dog dictionary is {'name': 'Denzo', 'color': 'White', 'breed': 'Labrador', 'legs': 4, 'age': 7}
Student dictionary is {'first_name': 'Akhilesh Reddy', 'last_name': 'Erravally', 'gender': 'Male', 'age': 22, 'marital status': 'Single', 'skills': ['Python'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Badangpet'}
Length of the student dictionary is 9
<class 'list'>
Dictionary keys are: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Dictionary values are: dict_values(['Akhilesh Reddy', 'Erravally', 'Male', 22, 'Single', ['Python', 'Machine learning'], 'India', 'Hyderabad', 'Badangpet'])

In [4]:
#Create a tuple containing names of your sisters and your brothers 
brothers=("vicky","teja","chintu")
sisters=("chinky","aruna","nagu")
#Join brothers and sisters tuples and assign it to siblings
siblings=brothers+sisters
#How many siblings do you have?
print("length:",len(siblings))
print("siblings:",siblings)
#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members=siblings+("Krishna reddy","Vijaya Laxmi")
print("family_members:",family_members)

length: 6
siblings: ('vicky', 'teja', 'chintu', 'chinky', 'aruna', 'nagu')
family_members: ('vicky', 'teja', 'chintu', 'chinky', 'aruna', 'nagu', 'Krishna reddy', 'Vijaya Laxmi')

In [8]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#Find the length of the set it_companies
print("number of companies:",len(it_companies))
#Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)
#Insert multiple IT companies at once to the set it_companies
it_companies.update({'Netflix','Cognizant'})
print(it_companies)
#Remove one of the companies from the set it_companies
it_companies.remove('Cognizant')
print(it_companies)
#What is the difference between remove and discard
it_companies.discard('Cognizant')
print(it_companies)
#The discard() method removes the specified item from the set. This method is different from the remove() method,
#because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
#Join A and B
print("Join of A and B",A.union(B))
#Find A intersection B
print("Intersection of A and B is",A.intersection(B))
#Is A subset of B
print("Is A subset of B",A.issubset(B))
#Are A and B disjoint sets
print("Are A and B disjoint sets",A.isdisjoint(B))
#Join A with B and B with A
A.union(B)
B.union(A)
#What is the symmetric difference between A and B
print("symmetric difference between A and B",A.symmetric_difference(B))
#Delete the sets completely
A.clear()
B.clear()
#Convert the ages to a set and compare the length of the list and the set
age = [22, 19, 24, 25, 26, 24, 25, 24]
set_of_age=set(age)
print("length of list of ages",len(age))
print("length of set of ages",len(set_of_age))

number of companies: 7
{'Twitter', 'Facebook', 'Oracle', 'Amazon', 'IBM', 'Apple', 'Microsoft', 'Google'}
{'Twitter', 'Facebook', 'Oracle', 'Cognizant', 'IBM', 'Apple', 'Google', 'Netflix', 'Microsoft', 'Amazon'}
{'Twitter', 'Facebook', 'Oracle', 'IBM', 'Apple', 'Google', 'Netflix', 'Microsoft', 'Amazon'}
{'Twitter', 'Facebook', 'Oracle', 'IBM', 'Apple', 'Google', 'Netflix', 'Microsoft', 'Amazon'}
Join of A and B {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B is {19, 20, 22, 24, 25, 26}
Is A subset of B True
Are A and B disjoint sets False
symmetric difference between A and B {27, 28}
length of list of ages 8
length of set of ages 5

In [18]:
#“I am a teacher and I love to inspire and teach people”
#How many unique words have been used in the sentence? Use the split methods and set
#to get the unique words.
string="I am a teacher and I love to inspire and teach people"
list_of_str=string.split() #using split method to divide string by spaces
set_of_list=set(list_of_str)   #converting to set
print("number of unique words are",len(set_of_list))

number of unique words are 10

In [19]:
#Use a tab escape sequence to get the following lines.
s="Name\t Age\tCountry\tCity\nAsabeneh 250\tFinland\tHelsinki"
print(s)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [14]:
#Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %d is %d meters square."%(radius,area))

The area of a circle with radius 10 is 314 meters square.